<div class="container-fluid">
  <div class="row d-flex pb-5">
    <div class="col-4"></div>
    <div class="col-6 d-flex ">
        <ul class="footer-lista pr-5"><span>Mais</span>
          <div class="pt-3">
            <li>Sobre</li>
            <li>Categorias</li>
            <li>Politica de Privacidade</li>
            <li>Contato</li>
          </div>
        </ul>
        <ul class="footer-lista pr-5"><span>Contac Us</span>
          <div class="pt-3">
            <li>Telefon 9999-9999</li>
            <li>Emai merecycle2@gmail.com</li>
          </div>
        </ul>
        <ul class="footer-lista pr-5"><span>Redes Sociais</span>
          <div class="d-flex pt-3">
            <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
          </div>
        </ul>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="col-6">
</div>
<div class="abacaxi d-flex justify-content-center align-items-center">
  <span>Todos os direitos reservados. 2021</span>
</div>
