.footer-lista{
  list-style: none;
  color: #41566B
}
.fab{
  padding-right: 15px;
}
a{
  text-decoration: none;
  color: #41566B;
}
.footer-lista span{
  font-weight: bold;
}
.abacaxi{
  background-color: rgba(83, 179, 132, 0.23);
  width: 100%;
  height: 50px;
}
.logo{
  width: 69px;
  height: 116px;
}