<div class="container-fluid pt-5 mt-5">
    <div class="footer-responsive">
        <div class="footer-conteudo">
            <div class="p-3 mr-5">
                <img class="img-thumbnail" src="https://i.imgur.com/46xUQsN.png" height="150px" width="90px" alt="logo Recycle.Me">
            </div>
            <ul class="footer-lista mr-5"><span>Mais</span>
                <li class="pt-3 "><a routerLink='/sobre'>Sobre</a></li>
                <li><a routerLink='/categoria'>Categorias</a></li>
                <li><a href="">Politica de Privacidade</a></li>
                <li><a href="">Termos e condições de uso</a></li>
                <li><a routerLink='/sobre'>Contato</a></li>
            </ul>
            <ul class="footer-lista mr-5"><span>Contact Us</span>

                <li class="pt-3 ">Telefone 9999-9999</li>
                <li>E-mail merecycle2@gmail.com</li>

            </ul>
            <ul class="footer-lista"><span>Redes Sociais</span>
                <div class="d-flex  pt-3 mr-5">
                    <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/recycleme.web/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </div>
            </ul>
        </div>
        <hr class="col-6 pb-3" />
    </div>

</div>
<div class="copy d-flex justify-content-center align-items-center">
    <span>Todos os direitos reservados © Recycle.Me 2021</span>
</div>