.footer-lista{
  list-style: none;
  color: #41566B
}
.fab{
  padding-right: 15px;
}
a{
  text-decoration: none;
  color: #41566B;
}
.footer-lista span{
  font-weight: bold;
}
.copy{
  background-color: rgba(83, 179, 132, 0.23);
  width: 100vw;
  height: 50px;
}
.logo{
  width: 69px;
  height: 116px;
  margin-left: 40px;
}
@media only screen and (max-width: 900px) {
  .logo{
    width: 30px;
    height: 60px;
  }
  .d-flex{
    flex-direction: column;
    padding-left: 5%;
  }
}
