<app-menu></app-menu>
<div class="container mt-5 pt-5 mb-5 pb-5 padrao-font-color">
  <div class="ml-5">
    <h1>Dicas</h1>
    <h4 class="mt-5"> Atitudes sustentáveis para um mundo melhor</h4>
  </div>

  <div class="row p-5">
    <div class="col-md-3 ml-5 mr-5">
      <img class="lixo mb-4" src="https://i.imgur.com/cVjQOSX.png" alt="Latas de lixo">
      <h5 class="mb-2 ">1. Se informe sobre o que pode ser reciclado</h5>
      <p>Conhecer sobre seu lixo, é essencial para facilitar o processo de reciclagem</p>
    </div>
    <div class="col-md-3 mr-5">
      <img class="limpeza mb-4" src="https://i.imgur.com/F2ENxMA.png" alt="Limpeza">
      <h5 class="mb-4">2. Remova restos de comida</h5>
      <p>Além de evitar odores desagradáveis, você contribui com a pessoa que irá coletar seu lixo reciclável</p>
    </div>
    <div class="col-md-3">
      <img class="latas mb-4" src="https://i.imgur.com/COKqHT4.png" alt="Lata de metal">
      <h5 class="mb-4">3. Amasse latinhas</h5>
      <p>Ao amassar sua latinha, você facilita o processo de reciclagem, e ainda evita acidentes de quem irá coletar o seu lixo reciclável</p>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-md-3 ml-5 mr-5">
      <div class="d-flex justify-content-center mb-4">
        <img class="oleo mb-4" src="https://i.imgur.com/hmtE2So.png" alt="Óleo de cozinha">
      </div>
      <h5 class="mb-2">4. Descarte óleo de cozinha corretamente</h5>
      <p>Basta apenas 1L de óleo para contaminar 20 mil litros de água. O óleo de cozinha deve ser despejado em um recipiente com tampa, como por exemplo uma garrafa PET.</p>
    </div>
    <div class="col-md-3 mr-5">
      <div class="d-flex justify-content-center mb-4">
        <img class="papel mb-4" src="https://i.imgur.com/ksi8GGs.png" alt="Papel">
      </div>
      <h5 class="mb-4">5. Não amasse o papel</h5>
      <p>Quando você não amassa o papel, você ajuda na ecoeficiência, ou seja, você contribui para uma utilização mais consciente dos recursos renováveis.</p>
    </div>
    <div class="col-md-3">
      <div class="d-flex justify-content-center mb-4">
        <img class="vidro mb-4" src="https://i.imgur.com/swJAaiq.png" alt="Caneca de vidro">
      </div>
      <h5 class="mb-4">6. Vidros</h5>
      <p>Não se esqueça, espetelhos, vidros temperados, cerâmica não são considerados reciclaveis</p>
    </div>
  </div>
</div>

<app-footer></app-footer>