h2 {
    color: rgba(65, 86, 107, 1);
    padding-right: 40px;
}

.box-produtos {
    border: solid 1px;
    height: 688px;
}

.card {
    display: flex;
    justify-content: left;
}

.card-img-top {
    width: 237px;
    height: 196px;
}

.btn-danger {
    border: none;
    border-radius: 136px;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.3s;
}

.btn-editar {
    background: rgba(83, 179, 132, 0.23);
    border: none;
    border-radius: 136px;
    padding: 10px;
    color: rgba(65, 86, 107, 1);
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-editar:hover {
    background: rgba(83, 179, 132, 0.5);
}

@media only screen and (max-height: 766px) {
    .titulo {
        margin-left: 62px;
    }
}

.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.modal-content-full-width {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
}


/* form */


/* coluna imagem */

form {
    color: rgba(65, 86, 107, 1);
}

img {
    width: 480px;
    height: 480px;
}


/* form */

.segunda-linha {
    display: flex;
    align-items: stretch;
}

input {
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

.cadastrar {
    background-color: rgba(36, 191, 60, 0.62);
}

.cancelar {
    color: rgba(209, 209, 209, 1);
    background-color: rgba(65, 86, 107, 1);
}

@media only screen and (max-height: 766px) {
    .titulo {
        margin-left: 70px;
    }
    .col-form input {
        width: 191px;
    }
}


/*
  Mudanças para Tela Full Hd
*/

@media only screen and (min-height: 900px) {
    .titulo {
        margin-left: 110px;
    }
    .col-form input {
        width: 283px;
    }
}