h2{
    font-size: 24pt;
    color: #41566B;
    font-weight: bold;
  }
  
  .perfil{
    border-radius: 50%;
  }
  .nome{
    font-size: 12pt;
    font-weight: bold;
    color: #41566B;
    
  }
  .fab{
    font-size: 18pt;
  }
  a{
    text-decoration: none;
    color: #41566B;
  }
  
  