<app-menu></app-menu>

<div class="container-fluid mt-5 pt-5 mb-5 pb-5">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6 padrao-font-color">
        <h2 class="mb-5">Sobre Nós</h2>
        <p>&emsp;Criada em 2021 a plataforma Recycle.me foi pensada para contribuir na resolução de um dos principais problemas mundiais a Sustentabilidade.<br>&emsp;Dito isso o objetivo é ser uma ponte entre pontos de coletas de reciclagem e pessoas que desejam reciclar, através de pontos de venda baseado na localização, avaliação de usuários e com dicas de reuso e descarte contribuindo com a diminuição da geração de resíduos recicláveis e não usáveis.</p>
       
      </div>
    </div>
    <div class="container mt-5 mb-5 text-center">
      <h4 class="padrao-font-color font-weight-bold">Desenvolvido por:</h4>
    </div>
    <div class="row mt-5 pt-5">
      <div class="col-md-3 text-center ml-3">
        <img class="perfil" src="https://i.imgur.com/YAZbn6s.jpg" height="125px" width="125">
        <h5 class="mt-2 nome">Andressa Santos</h5>
        <a href="https://www.linkedin.com/in/andressa-santos-p/" target="_blank"><i class="fab fa-linkedin-in mr-2"></i></a>
        <a href="https://github.com/santosandressa" target="_blank"><i class="fab fa-github  mr-2"></i></a> 
        <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="col-md-3 text-center">
        <img class="perfil" src="https://i.imgur.com/oF9kXQ9.jpg" height="125px" width="125">
        <h5 class="mt-2 nome">Daniela Arantes</h5>
        <a class="a"href="https://www.linkedin.com/in/daniela-arantes-2170b3111/" target="_blank"><i class="fab fa-linkedin-in mr-2"></i></a>
        <a href="https://github.com/arantesd" target="_blank"><i class="fab fa-github  mr-2"></i></a> 
        <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="col-md-3 text-center">
        <img class="perfil" src="https://i.imgur.com/IeOCawo.jpg" height="125px" width="125">
        <h5 class="mt-2 nome">Caique Tuon</h5>
        <a href="https://www.linkedin.com/in/caiquetuon/" target="_blank"><i class="fab fa-linkedin-in mr-2"></i></a>
        <a href="https://github.com/CaiqueTuon" target="_blank"><i class="fab fa-github  mr-2"></i></a> 
        <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="col-md-2 text-center">
        <img class="perfil" src="https://i.imgur.com/L6KZJra.jpg" height="125px" width="125">
        <h5 class="mt-2 nome">Yuri Dias</h5>
        <a href="https://www.linkedin.com/in/yuri-dias-soares/" target="_blank"><i class="fab fa-linkedin-in mr-2"></i></a>
        <a href="https://github.com/ySodias" target="_blank"><i class="fab fa-github mr-2"></i></a> 
        <a href="https://youtu.be/SG6YcQ3xnXs" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="row mt-5 pt-5 mb-5 pb-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center text-center">
      <div>
        <h4 class="mb-5 padrao-font-color font-weight-bold">Patrocinadores</h4>
        <img class="img-fluid" src="https://i.imgur.com/uyuMf8t.png" width="526" height="209">
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
  