<app-menu></app-menu>
<!-- titulo -->
<div class="pl-5 pt-5 mt-5 titulo">
  <h2>Cadastrar Produto</h2>
</div>
<!-- /titulo -->

<!-- form -->
<div class="row d-flex align-items-center mt-3">
  <div class="col-1"></div>
  <div class="col-6">
    <form>
      <div class="form-group campo-form">
        <label for="formGroupExampleInput">Nome do Produto</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira o nome do Produto">
      </div>
      <div class="d-flex campo-form col-form">
        <div class="pr-5">
          <label for="formGroupExampleInput2">Preço</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite o preço">
        </div>
        <div class="pr-5">
          <label for="formGroupExampleInput2">Quantidade</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite a Quantidade">
        </div>
        <div>
          <label for="formGroupExampleInput2">Peso</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite o preço">
        </div>
      </div>
      <div class="form-group campo-form pt-3 ">
        <label for="exampleFormControlSelect1">Categoria</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Selecione uma opção</option>
          <option>Metal</option>
          <option>Plástico</option>
          <option>Vidro</option>
          <option>Papel</option>
          <option>Madeira</option>
        </select>
      </div>
      <div class="form-group campo-form">
        <label for="formGroupExampleInput">Tipo de Produto</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Escreva o tipo de produto">
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn cancelar mr-4" routerLink='/detalhe'>Cancelar</button>
        <button type="button" class="btn cadastrar" routerLink='/detalhe'>Cadastrar Produto</button>
      </div>
    </form>
<!-- /form -->

<!-- coluna-Imagem -->
  </div>
  <div class="col-4">
    <img src="https://i.imgur.com/YWbqv7H.png" alt="Desenho de pessoas coletando recicláveis">
  </div>
</div>
<!-- /coluna-Imagem -->