<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Categorias</h2>
            <form>
                <div class="form-categoria">
                    <div>
                        <input type="checkbox" id="metal" name="metal" value="metal" />
                        <label for="metal">Metal</label>
                    </div>
                    <div>
                        <input type="checkbox" id="plastico" name="plastico" value="plastico" />
                        <label for="plastico">PLatico</label>
                    </div>
                    <div>
                        <input type="checkbox" id="vidro" name="vidro" value="vidro" />
                        <label for="metal">Vidro</label>
                    </div>

                    <div>
                        <input type="checkbox" id="metal" name="metal" value="metal" />
                        <label for="metal">Metal</label>
                    </div>
                    <div>
                        <input type="checkbox" id="Madeira" name="Madeira" value="Madeira" />
                        <label for="metal">Madeira</label>
                    </div>
                </div>

                <div class="form-avaliacao">
                    <h2>Avaliacao</h2>
                    <div>
                        <input type="checkbox" id="avaliacao5" name="avaliacao5" value="Madeira" />
                        <label for="metal">5 estrelas</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row"></div>
</div>