.container {
    margin-top: 120px;
    margin-bottom: 180px;
}

.img-card {
    width: 268px;
    height: 233px;
}

table,
tr,
td {
    border: none;
    margin-bottom: 40px;
}

.card-produtos {
    border-radius: 25px;
    border: 1px solid #d1d1d1;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: #41566b;
}

h5 {
    font-size: 14px;
    padding-top: 6px;
    color: #41566b;
}

.tags-container {
    margin-bottom: 120px;
}

.form-categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
    color: #41566b;
}

li {
    margin-bottom: 10px;
}

.fas {
    padding-right: 10px;
}

.mais-detalhes {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1.5vw;
    color: #41566b;
}

.btn-detalhes {
    background: rgba(83, 179, 132, 0.23);
    border-radius: 12px;
    border: none;
    width: 157px;
    height: 47px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 16px;
}

.btn-favoritar {
    background: #f5f5f5;
    border: none;
    width: 157px;
    height: 47px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 12px;
}

input[type="checkbox"] {
    border: 1px solid #5d5c5c;
    display: inline-block;
    height: 16px;
    margin: 0 0.25em 0 0;
    padding: 0;
    width: 16px;
    border-radius: 4px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 280px) and (max-width: 480px) {
    .fa-star {
        color: #ffc700;
        width: 0.5em;
        margin-right: 10px;
    }
}

.tags-container a {
    text-decoration: none;
    width: 6em;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 25px;
    margin-right: 30px;
    color: #41566b;
    border-radius: 12px;
    background: rgba(187, 234, 210, 0.62);
    text-align: center;
}

.tags-container {
    margin-top: 120px;
    margin-bottom: 50px;
}

@media (min-width: 280px) and (max-width: 480px) {
    .tags-links {
        display: flex;
        flex-wrap: wrap;
    }
    .tags-container a {
        text-align: center;
        width: 120px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 330px) and (max-width: 769px) {
    h2 {
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: row;
    }
    li {
        padding-right: 20px;
        margin: 20px 0 20px 0px;
    }
}

.aplicar {
    background: rgba(187, 234, 210, 0.62);
}

.cancelar {
    color: white;
    background-color: #fa8376;
}