<app-menu></app-menu>
<!-- Filtro -->
<div class="container container-fluid">
    <div class="row d-flex">
        <div class="col-md-3">
            <h2>Categorias</h2>

            <div class="form-categoria">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="METAL">
                    <label class="form-check-label" for="inlineCheckbox1">Metal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="PLASTICO">
                    <label class="form-check-label" for="inlineCheckbox1">Plástico</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="VIDRO">
                    <label class="form-check-label" for="inlineCheckbox1">Vidro</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="MADEIRA">
                    <label class="form-check-label" for="inlineCheckbox1">Madeira</label>
                </div>
            </div>

            <div class="d-flex mt-5">
                <button class="btn cancelar  mr-2">Cancelar</button>
                <button class="btn aplicar">Aplicar</button>
            </div>
        </div>

        <!-- Lista de produtos -->
        <div class="col-md-9 pl-5">
            <table class="padrao-font-color table">
                <tbody>
                    <tr class="card-produtos" *ngFor="let produto of listaProduto">
                        <th scope="row" class="">
                            <img class="img-card" src="{{produto.foto}}" alt="Garrafas PET" />
                        </th>
                        <td>
                            <h4>{{produto.nome}}</h4>
                            <h5>{{produto.usuario.nome}}</h5>
                            <h5>{{produto.usuario.bairro}}</h5>
                            <h5>Quantidade: {{produto.quantidade}}</h5>
                        </td>
                        <td class="mais-detalhes">
                            <h4>R$ {{produto.preco}}</h4>

                            <button class="btn-detalhes hvr-grow padrao-font-color"
                                [routerLink]="['/detalhe', produto.id]">

                                Mais detalhes
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                            <button class="btn-favoritar hvr-grow padrao-font-color">
                                <i class="fa fa-heart-o p-md-1" aria-hidden="true"></i>Favoritar
                                usuário
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tags-container">
        <div class="row">
            <div class="col-12">
                <h2>Tags</h2>
                <div class="tags-links">
                    <a href="#">Plástico</a>
                    <a href="#">Latinhas</a>
                    <a href="#">Embalagens</a>
                    <a href="#">Papelão</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Lista de produtos -->
<app-footer></app-footer>