<div class="container container-fluid">
    <div class="row">
        <div class="col-">
            <h2>Categorias</h2>
            <form>
                <div class="form-categoria">
                    <div>
                        <input type="checkbox" id="metal" name="metal" value="metal" />
                        <label for="metal">Metal</label>
                    </div>
                    <div>
                        <input type="checkbox" id="plastico" name="plastico" value="plastico" />
                        <label for="plastico">Plástico</label>
                    </div>
                    <div>
                        <input type="checkbox" id="vidro" name="vidro" value="vidro" />
                        <label for="metal">Vidro</label>
                    </div>

                    <div>
                        <input type="checkbox" id="metal" name="metal" value="metal" />
                        <label for="metal">Metal</label>
                    </div>
                    <div>
                        <input type="checkbox" id="Madeira" name="Madeira" value="Madeira" />
                        <label for="metal">Madeira</label>
                    </div>
                </div>

                <div class="form-avaliacao">
                    <h2>Avaliação</h2>
                    <div>
                        <input type="checkbox" id="avaliacao5" name="avaliacao5" value="avaliacao5" />
                        <label class="avaliacao5" for="avaliacao5">
              <i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i
            ></label>
                    </div>

                    <div class="avaliacao4">
                        <input type="checkbox" id="avaliacao4" name="avaliacao4" value="avaliacao4" />
                        <label class="avaliacao4" for="avaliacao4">
              <i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i
            ></label>
                    </div>

                    <div class="avaliacao3">
                        <input type="checkbox" id="avaliacao3" name="avaliacao3" value="avaliacao3" />
                        <label class="avaliacao3" for="avaliacao3">
              <i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i
            ></label>
                    </div>

                    <div class="avaliacao2">
                        <input type="checkbox" id="avaliacao2" name="avaliacao2" value="avaliacao2" />
                        <label class="avaliacao2" for="avaliacao2">
              <i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i
            ></label>
                    </div>

                    <div class="avaliacao1">
                        <input type="checkbox" id="avaliacao4" name="avaliacao1" value="avaliacao1" />
                        <label class="avaliacao1" for="avaliacao1">
              <i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i
            ></label>
                    </div>
                </div>
                <div>
                    <button class="btn-salvar hvr-grow" type="submit">Salvar</button>
                    <button class="btn-limpar hvr-grow" type="submit">Limpar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="tags-container">
        <div class="row">
            <div class="col-12">
                <h2>Tags</h2>
                <div class="tags-links">
                    <a href="#">Plástico</a>
                    <a href="#">Latinhas</a>
                    <a href="#">Embalagens</a>
                    <a href="#">Papelão</a>
                </div>
            </div>
        </div>
    </div>
</div>