.body{
    font-family: Roboto;
}

#img-bg{
    background: url('../src/assets/img/TelaLoginProjetoAGORAVAI.svg');
    
    height: 100%;
    width: 100%;
    min-height: 690px;
    min-width: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}