body,html{
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.body{

    font-family: Roboto;
    font-family: Roboto; 
  
}
::-webkit-scrollbar {
    display: none;
}

#img-bg{
    background: url('https://raw.githubusercontent.com/ySodias/recycle.me_frontend/develop/recycleme/src/assets/img/TelaLoginProjetoAGORAVAI.svg');
    
    height: 100%;
    width: 100%;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.padrao-font-color{
    color: #41566B
}
