body,
html {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.body {
    font-family: Roboto;
    font-family: Roboto;
}

::-webkit-scrollbar {
    display: none;
}

.padrao-font-color {
    color: #41566B
}