<app-menu></app-menu>
<div class="m-5 pl-5">
  <h2>Vidro</h2>
</div>
<div class="row mt-5 mb-5">
  <div class="col-1"></div>
  <div class="col-6">
    <img src="https://i.imgur.com/Q6aKIgo.jpg">
  </div>
  <div class="col4">
    <span>Usuáio:</span><span>Joaozin</span>
    <div class="">
      <i class="fas fa-star star"></i>
      <i class="fas fa-star star"></i>
      <i class="fas fa-star star"></i>
      <i class="fas fa-star-half-alt star"></i>
      <i class="far fa-star star"></i>
    </div>
    <div>
      <span>Região</span><span>São Paulo - Zona Leste</span>
    </div>
   <span>Entrar em contato</span>
  </div>
</div>
<app-footer></app-footer>