<!--imagem background-->
<div class="container-fluid" id="img-bg">
    <!--/imagem background-->

    <div class="row d-flex justify-content-center">

        <div class="col-md-6">
            <div class="row align-items-center">
             <div class="col-md-8">

                <!--titulo-->
                  <h1 class="text-center mb-3 pt-5 padrao-font-color">Login</h1>
                <!--titulo-->

                    <!--formulário login--> 
                    <div class="form-grup pt-3">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" nome="usuario" id="usuario" placeholder="Seu usuário">
                    </div>
                   
                    <div class="form-grup pt-3">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" nome="senha" id="senha" placeholder="Sua senha">
                    </div>
                    
                    <div class="d-flex justify-content-center mt-5">
                        <button style="width: 100px;" type="submit" class="btn entrar mr-4" routerLink='/homeLogin'>Entrar</button>
                    </div>
                    <!--/formulário login--> 
               
                <hr class="mt-4 mb-4">
                
                <p class="text-center">
                 Não possuí uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                </p>
             </div>
            </div>

        </div>

        <!--coluna frase-->
     <div class="col-md-5 mt-5 align-items-center">
        <p class="fontf text-right">O lixo de um é o</p>
        <p class="fontf text-right">tesouro do outro</p>
       </div>
     <!--/coluna frase-->


    </div>

</div>