 /* formulário */
 
 input {
     border-radius: 10px;
 }
 
 .entrar {
     background-color: #BBEAD2
 }
 
 .entrar:hover {
     background-color: rgba(83, 179, 132, 0.5);
     transition: 0.5s;
 }
 
 .btn-danger {
     border: none;
     padding: 6px 12px;
     margin-right: 20px;
     border-radius: .25rem;
 }
 
 .btn-danger {
     transition: 0.5s;
 }
 /* font frase */
 
 .fontf {
     font-size: 35pt;
     color: #41566B;
     line-height: 30px
 }
 
 #img-bg {
     background: url('https://raw.githubusercontent.com/ySodias/recycle.me_frontend/develop/recycleme/src/assets/img/TelaLoginProjetoAGORAVAI.svg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 100%;
 }