 /* formulário */
 
 input {
     border-radius: 10px;
 }
 
 .entrar {
     background-color: #BBEAD2
 }
 /* font frase */
 
 .fontf {
     font-size: 35pt;
     color: #41566B;
     line-height: 30px
 }
 
 #img-bg {
     background: url('https://raw.githubusercontent.com/ySodias/recycle.me_frontend/develop/recycleme/src/assets/img/TelaLoginProjetoAGORAVAI.svg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 100%;
 }