<div class="container-fluid" id="img-bg">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center mb-3">LOGIN</h1>

                    <div class="form-grup">
                        <label for="usuario">Usuário</label>
                        <input class="form-control form-control-lg" type="text" nome="usuario" id="usuario" placeholder="Seu usuário">
                       
                    </div>
                    <br>
                    <div class="form-grup">
                        <label for="senha">Senha</label>
                        <input class="form-control form-control-lg" type="password" nome="senha" id="senha" placeholder="Sua senha">
                    </div>
                    <br>
                    <br>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-info">Entrar</button>
                    </div>
               
                <hr class="mt-5 mb-5">
                
                <p class="text-center">
                 Não possuí uma conta? <a href="">Cadastre-se</a>
                </p>
             </div>
            </div>

        </div>


    </div>

</div>