#banner{
    background: url("https://i.imgur.com/lCu7Tpy.png");
}

#textHeader h1{
    font-family: 'Roboto';
    font-size: 60px;
    font-weight:bold;
    color: #41566B;
}

#textHeader h6{
    font-family: 'Roboto';
    color: #41566B;
}

#botaoCHOME{
    color: #41566B;
    background-color: rgba(36, 191, 60, 0.62);

}

#carousel h3{
    font-family: 'Roboto' ,'Bold';
    font-weight: 600;
    font-size: 40px;
    color: #41566B ;
}

#cardsHome{
    margin-bottom: 10cm;
    font-weight: bold;
    color: #41566B;
}

