
<!-- Banner -->
<div id="banner">
    <div class="container">
            <div class="row">
                <div id="textHeader" class="col-md-6 align-self-center">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
           

                     <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur tempore eveniet magnam eius dicta nobis, fuga ea nemo maxime sit explicabo ut quo reiciendis, dolor corrupti enim impedit dolorem possimus?</h6>

                    <button id="botaoCHOME" type="button" class="btn">Crie sua Conta</button>


                    </div>
                    <div class="col-md-6">
                <img src="../../assets/img/Group 27.png" alt="">
            </div>
    </div>
</div>
</div>

<!-- Banner -->


<!-- cards -->

<div class="container d-flex justify-content-center mt-4">
    <div class="row">
        <div class="col-sm mr-4">
            <img src="../../assets/img/mundinho.png" alt="mundinho" height="150">
            <p class="text-center">mussum</p>
        </div>
        <div class="col-sm mr-4">
            <img src="../../assets/img/mundinho2.png" alt="mundinho" height="150">
            <p class="text-center">mussum</p>
        </div>
        <div class="col-sm mr-4">
            <img src="../../assets/img/mundinho3.png" alt="mundinho" height="150">
            <p class="text-center">mussum</p>
        </div>
    </div>
</div>

<!-- cards -->

<!-- carousel -->

<div id="carousel">
    <h3 class="d-flex justify-content-center mt-4">Categorias</h3>
    <div id="carouselExampleFade" class="carousel slide carousel-fade " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/img/imagemMadeira.jpg" height="500" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/imagemMetal.jpg" height="500" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/imagemPapel.jpg" height="500" alt="Terceiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/imagemPlastico.jpg" height="500" alt="Terceiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/imagemVidro.jpg" height="500" alt="Terceiro Slide">
          </div>

        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
<!-- carousel -->

</div>