<app-menu></app-menu>
<!-- Banner -->
<div id="banner">
    <div class="container">
        <div class="row">
            <div id="textHeader" class="col-md-6 align-self-center">
                <h1>Um novo passo para um mundo mais sustentável</h1>

                <h6>
                    Anuncie compras de recicláveis, entre em contato com cooperativas e pessoas interessadas, aprenda como reciclar <span>na cidade de São Paulo.</span>
                </h6>
                <h6 class="font-weight-bold mb-4">
                    <span class="text-center" *ngIf="!auth.logado()">Clique no botão abaixo e crie sua conta! </span>
                    <span class="text-center" *ngIf="auth.logado()">Clique no botão abaixo para ver seus
                        produtos!</span>
                </h6>


                <button *ngIf="!auth.logado()" id="botaoCHOME" type="button" class="btn" routerLink="/cadastrar">
                    Crie sua Conta
                </button>
                <span *ngIf="auth.logado()" id="botaoCHOME" type="button" class="btn" routerLink="/homeLogin">
                    Meus produtos
                </span>
            </div>
            <div class="col-md-6">
                <img class="img-fluid img-banner" src="../../assets/img/Group 27.png" alt="" />
            </div>
        </div>
    </div>
</div>

<!-- /Banner -->

<!-- cards -->

<div id="cardsHome" class="container d-flex justify-content-center mt-4 mb-5 pd-5">
    <div class="row cardsHome">
        <div class="terras col-md-3 mr-4">
            <img src="../../assets/img/mundinho.png" alt="logo de um mundo pequeno" height="150">
            <p class="ml-5">Reciclar</p>
        </div>
        <div class="terras col-md-3 mr-4">
            <img src="../../assets/img/mundinho2.png" alt="logo de um mundo pequeno" height="150" />
            <p class="ml-5">Reutilizar</p>
        </div>
        <div class="terras col-md-3">
            <img src="../../assets/img/mundinho3.png" alt="logo de um mundo pequeno" height="150" />
            <p class="ml-5">Reduzir</p>
        </div>
    </div>
</div>

<!-- /cards -->

<!-- carousel -->

<div class="container pt-5 " id="carousel">
    <h3 class="d-flex justify-content-center mt-mb-5">Produtos comprados por parceiros</h3>
    <div id="carouselExampleFade" class="carousel slide carousel-fade mt-5 pt-5" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-deck" routerLink='/categoria'>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemMadeira.jpg" alt="Madeira" />
                        <div class="card-body">
                            <h5 class="card-title">Madeira</h5>
                            <p class="card-text">
                                A reciclagem de madeira é uma prática aplicável em todos os setores da sociedade e pode ser desenvolvida inclusive como fonte de renda em trabalhos de artesanato, marcenaria e decoração.
                            </p>
                            <cite><a href="https://www.terra.com.br/noticias/dino/reciclagem-de-madeira-economizando-e-preservando-o-meio-ambiente,2006a0976cca3a034e1f071e7a3d582agdobz12w.html"
                                    target="_blank"> Terra</a></cite>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemMetal.jpg" alt="Metais" />
                        <div class="card-body">
                            <h5 class="card-title">Metais</h5>
                            <p class="card-text">
                                O metal reciclado tem praticamente todas as características do metal comum. Ele pode ser reciclado muitas vezes sem perder suas características e qualidade.
                            </p>
                            <cite><a href="https://www.colim.com.br/coleta-seletiva-e-reciclagem-metal" target="_blank">
                                    Colim</a></cite>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemVidro.jpg" alt="Vidro" />
                        <div class="card-body">
                            <h5 class="card-title">Vidro</h5>
                            <p class="card-text">
                                O vidro pode ser reciclado várias vezes pois é feito de minerais como areia, barrilha, calcário e feldspato. Ao se agregar o caco na etapa de fusão de vidro, diminui-se a retirada de matéria-prima da natureza.
                            </p>
                            <cite><a href="https://www.psdovidro.com.br/descubra-tudo-sobre-a-reciclagem-de-vidro/"
                                    target="_blank"> Ps do Vidro</a></cite>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck" routerLink='/categoria'>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemPlastico.jpg" alt="Plástico" />
                        <div class="card-body">
                            <h5 class="card-title">Plástico</h5>
                            <p class="card-text">
                                Como nem todos os plásticos podem ser reciclados, aqueles que têm essa propriedade são representados por um triângulo formado por três setas e com um número de identificação para a classificação quando chegam ao centro de reciclagem.
                            </p>
                            <cite><a href="http://www.maispolimeros.com.br/2020/02/28/plasticos-reciclaveis/"
                                    target="_blank"> Mais Polímeros</a></cite>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemPapel.jpg" alt="Papel" />
                        <div class="card-body">
                            <h5 class="card-title">Papel</h5>
                            <p class="card-text">
                                No processo de reciclagem, o volume de água utilizado cai para 2,5 mil Kw. Além de reduzir o consumo de energia, a emissão de poluentes e o uso de água, a reciclagem diminui a porcentagem de papel descartado como resíduo sólido.
                            </p>
                            <cite><a href="https://www.reciclasampa.com.br/artigo/historia-e-reciclagem-de-papel:-entenda-o-processo-e-como-fazer"
                                    target="_blank"> Recicla Sampa</a></cite>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <!-- /carousel -->
</div>
<app-footer></app-footer>