#banner {
    background: url("https://i.imgur.com/lCu7Tpy.png");
}

#textHeader h1 {
    font-family: 'Roboto';
    font-size: 60px;
    font-weight: bold;
    color: #41566B;
    margin-bottom: 20px;
}

#textHeader h6 {
    font-family: 'Roboto';
    color: #41566B;
    margin-bottom: 20px;
}

#botaoCHOME {
    color: #41566B;
    background-color: rgba(36, 191, 60, 0.62);
}

#carousel h3 {
    font-family: 'Roboto', 'Bold';
    font-weight: 600;
    font-size: 40px;
    color: #41566B;
}

.cardsHome {
    margin-top: 40px;
}

#cardsHome {
    margin-bottom: 10cm;
    font-weight: bold;
    color: #41566B;
}

.card {
    height: 415px;
}


/*Responsividade celular */

@media only screen and (min-width: 330px) and (max-width: 769px) {
    #textHeader h1 {
        margin-top: 30px;
        font-size: 30px;
    }
    #textHeader h6 {
        margin-top: 20px;
        font-size: 15px;
    }
    .img-banner {
        margin-top: 30px;
        height: 200px;
        margin-left: 55px;
    }
    .terras {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 50px 0px !important;
    }
    .terras p {
        margin: 0px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #banner {
        padding-bottom: 20px;
    }
}