<app-menu></app-menu>
<!-- Banner -->
<div id="banner">
    <div class="container">
        <div class="row">
            <div id="textHeader" class="col-md-6 align-self-center">
                <h1>Um novo passo para um mundo mais sustentável</h1>

                <h6>
                    Anuncie compras de recicláveis, entre em contato com cooperativas e pessoas interessadas, aprenda como reciclar.
                </h6>
                <h6 class="font-weight-bold mb-4">
                    <span *ngIf="!auth.logado()">Clique no botão abaixo e crie sua conta! </span>
                    <span *ngIf="auth.logado()">Clique no botão abaixo para ver seus produtos!</span>
                </h6>


        <button *ngIf="!auth.logado()" id="botaoCHOME" type="button" class="btn" routerLink="/cadastrar">
          Crie sua Conta
        </button> 
        <span *ngIf="auth.logado()" id="botaoCHOME" type="button" class="btn" routerLink="/homeLogin">
            Meus produtos 
        </span>
            </div>
            <div class="col-md-6">
                <img class="img-fluid img-banner" src="../../assets/img/Group 27.png" alt="" />
            </div>
        </div>
    </div>
</div>

<!-- /Banner -->

<!-- cards -->

<div id="cardsHome" class="container d-flex justify-content-center mt-4 mb-5 pd-5">
    <div class="row">
        <div class="terras col-md-3 mr-4">
            <img src="../../assets/img/mundinho.png" alt=" logo de um mundo pequeno " height="150">
            <p class="ml-5">Reciclar</p>
        </div>
        <div class="terras col-md-3 mr-4">
            <img src="../../assets/img/mundinho2.png" alt="mundinho" height="150" />
            <p class="ml-5">Reutilizar</p>
        </div>
        <div class="terras col-md-3">
            <img src="../../assets/img/mundinho3.png" alt="mundinho" height="150" />
            <p class="ml-5">Reduzir</p>
        </div>
    </div>
</div>

<!-- /cards -->

<!-- carousel -->

<div class="container pt-5 " id="carousel">
    <h3 class="d-flex justify-content-center mt-mb-5">Produtos comprados por parceiros</h3>
    <div id="carouselExampleFade" class="carousel slide carousel-fade mt-5 pt-5" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemMadeira.jpg" alt="Imagem de capa do card" />
                        <div class="card-body">
                            <h5 class="card-title">Madeira</h5>
                            <p class="card-text">
                                Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemMetal.jpg" alt="Imagem de capa do card" />
                        <div class="card-body">
                            <h5 class="card-title">Metais</h5>
                            <p class="card-text">
                                Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemVidro.jpg" alt="Imagem de capa do card" />
                        <div class="card-body">
                            <h5 class="card-title">Vidro</h5>
                            <p class="card-text">
                                Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemPlastico.jpg" alt="Imagem de capa do card" />
                        <div class="card-body">
                            <h5 class="card-title">Plástico</h5>
                            <p class="card-text">
                                Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/imagemPapel.jpg" alt="Imagem de capa do card" />
                        <div class="card-body">
                            <h5 class="card-title">Papel</h5>
                            <p class="card-text">
                                Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <!-- /carousel -->
</div>
<app-footer></app-footer>