<div class="container-fluid" id="img-bg">
    <div class="col-md-6 mt-5 mb-5">
    
    <h1 class="test-center">Cadastro</h1>

                

    <div class="form-grup">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
    </div>

    <div class="form-grup">
        <label for="cnpj">CNPJ (Opcional)</label>
        <input class="form-control" type="text" name="cnpj" id="cnpj" placeholder="Seu cnpj">
    </div>

    <div class="form-grup">
        <label for="cep">Cep</label>
        <input class="form-control" type="text" name="cep" id="cep" placeholder="Seu cep">
        <label for="numero">Número</label>
        <input class="form-control" type="text" name="numero" id="numero" placeholder="Seu número">
        <label for="bairro">Bairro</label>
        <input class="form-control" type="text" name="bairro" id="bairro" placeholder="Seu bairro">
    </div>

    <div class="form-grup">
        <label for="rua">Rua</label>
        <input class="form-control" type="text" name="rua" id="rua" placeholder="Sua rua">
    </div>

    <div class="form-grup">
        <label for="telefone">Telefone</label>
        <input class="form-control" type="text" name="telefone" id="telefone" placeholder="Seu telefone">
    </div>
</div>
</div>
