<!--imagem background-->
<div class="container-fluid" id="img-bg">

  <div class="row d-flex justify-content-center">
    
    <div class="col-md-6  mt-5 align-items-center">

    <!--titulo-->
    <h1 class="text-center padrao-font-color">Cadastro</h1>
    <!--/titulo-->

      <!--formulário novo cadastro-->
      <form>
        <div class="form-group campo-form pt-3">
          <label for="formGroupExampleInput">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite seu nome completo">
        </div>
        <div class="form-group campo-form">
            <label for="formGroupExampleInput">E-mail</label>
            <input type="text" class="form-control" id="email" placeholder="Digite seu e-mail">
          </div>

          <div class="d-flex campo-form col-form">
            <div class="pr-5">
              <label for="formGroupExampleInput2">Senha</label>
              <input type="text" class="form-control" id="senha" placeholder="Digite a senha">
            </div>
            <div class="pr-5">
                <label for="formGroupExampleInput2">Confirme a senha</label>
                <input type="text" class="form-control" id="confirmSenha" placeholder="Digite a senha novamente">
              </div>
         </div>
          
        <div class="d-flex campo-form col-form">
          <div class="pr-5 pt-3">
            <label for="formGroupExampleInput2">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" placeholder="Digite seu CNPJ, campus opcional">
          </div>
          <div class="pr-5 pt-3">
            <label for="formGroupExampleInput2">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="Digite seu telefone com DDD">
          </div>
        </div>

        <div class="d-flex campo-form col-form">
            <div class="pr-5 pt-3">
              <label for="formGroupExampleInput2">Cep</label>
              <input type="text" class="form-control" id="cep" placeholder="Digite o cep">
            </div>
            <div class="pr-5 pt-3">
                <label for="formGroupExampleInput2">Número</label>
                <input type="text" class="form-control" id="numero" placeholder="Digite o nº da residência/comércio">
              </div>
         </div>
                    
        <div class="form-group campo-form pt-3">
            <label for="formGroupExampleInput">Logradouro</label>
            <input type="text" class="form-control" id="rua" placeholder="Digite endereço, ex: rua, avenida">
         </div>
         <div class="form-group campo-form">
            <label for="formGroupExampleInput">Bairro</label>
            <input type="text" class="form-control" id="bairro" placeholder="Digite o bairro">
         </div>
        
        <div class="d-flex justify-content-center mt-4">
          <button type="button" class="btn cancelar mr-5">Cancelar</button>
          <button style="width: 100px;" type="button" class="btn enviar mr-5">Enviar</button>
        </div>
      </form>
        <!--formulário novo cadastro--> 
    </div >

    <!--coluna frase-->
    <div class="col-md-5 mt-5 align-items-center">
      <p class="fontf text-right">O lixo de um é o </p>
      <p class="fontf text-right">tesouro do outro</p>
     </div>
   <!--/coluna frase-->
    
  </div>
 
    
</div>

  


